body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#test-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

#question-container {
    margin-bottom: 40px;
}

/* 增加问题之间的间距 */
.question {
    margin-bottom: 30px; /* 从 15px 增加到 30px */
}

.option {
    display: block;
    margin-bottom: 15px;
}

#next-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#next-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#result-container {
    margin-top: 20px;
}

#progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 20px;
}

#progress {
    height: 10px;
    background-color: #007BFF;
    border-radius: 4px;
    width: 0%;
}

/* 添加文案样式 */
#subtitle {
    color: #4d6bfe; /* 设置文案颜色 */
    font-size: 14px; /* 设置字体大小 */
    text-align: left; /* 左对齐 */
    margin-top: 10px; /* 与标题的间距 */
    margin-bottom: 20px; /* 与进度条的间距 */
}